.posts {
  min-height: 70vh;
  &-item {
    margin-bottom: 30px;
    img {
      display: block;
      width: 170px;
      height: 150px;
      border-radius: 5px;
    }
    a {
      position: relative;
      display: inline-block;
      font-size: 26px;
      font-weight: 700;
      margin-bottom: 13px;
    }
    span {
      display: block;
      font-size: 14px;
    }
    p {
      margin-top: 5px;
      font-size: 19px;
    }
  }
}
