.btn-back {
  margin-top: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  cursor: pointer;
  border: 2px solid #135de7;
  transition: all 0.2s ease;
  background-color: transparent;
  border-radius: 7px;
  font-size: 16px;
  color: inherit;
  &:hover {
    background: #135de7;
    color: #fff;
    svg {
      fill: #fff;
    }
  }
  &--next {
    margin-left: auto;
    svg {
      transform: rotate(-180deg);
      margin-right: 0;
      margin-left: 12px !important;
    }
  }
  &-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  svg {
    display: block;
    width: 25px;
    height: 25px;
    margin: 0;
    margin-right: 12px;
    transition: all 0.2s ease;
  }
}
