.about {
  display: flex;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 60px;
  img {
    border-radius: 100%;
    object-fit: cover;
  }
  &-info {
    margin-left: 20px;

    &__links {
      margin-top: 7px;
      a:first-child {
        margin-right: 10px;
      }
    }
  }
}
