html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
  font-family: "Source Code Pro", monospace;
}
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  &.dark {
    background-color: #000;
    color: #a6a6a6;
    .single-post {
      b {
        background-color: #282a36;
      }
    }
    .btn-back {
      svg {
        fill: #fff;
      }
    }
    .gt-btn .gt-btn-preview,
    .gt-container .gt-btn-preview {
      background: #282a36;
      color: #a6a6a6;
    }
    .gt-comment-content,
    .gt-container .gt-comment-admin .gt-comment-content {
      background-color: #282a36;
    }
    .gt-comment-body .markdown-body,
    .gt-container .gt-comment-body {
      color: #a6a6a6 !important;
    }
    .gt-container .gt-comment-content:hover {
      box-shadow: none;
    }
    .gt-header-textarea {
      background: #282a36;
      color: #a6a6a6;
      &:hover {
        background: #282a36;
      }
    }
    &::-webkit-scrollbar-track-piece {
      background-color: #000;
    }
    .title {
      color: #a6a6a6;
      a {
        color: #a6a6a6;
      }
    }
  }
}

html,
body {
  ::selection {
    background: #282a36;
    color: #fff;
  }
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  ::-webkit-scrollbar-button {
    // background-color: #666;
  }
  ::-webkit-scrollbar-track {
    background-color: #999;
  }
  ::-webkit-scrollbar-track-piece {
    background-color: #ffffff;
  }
  ::-webkit-scrollbar-thumb {
    height: 50px;
    background-color: #282a36;
    border-radius: 3px;
  }
  ::-webkit-scrollbar-corner {
    background-color: #999;
  }
  ::-webkit-resizer {
    background-color: #666;
  }
}

.navigation {
  margin-top: 40px;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
}

.back {
  display: inline-block;
}

ul {
  li {
    margin: 13px 0;
  }
}

.post {
  margin-top: 30px;
  &-name {
    font-family: "Montserrat", sans-serif;
    font-size: 42px;
    font-weight: 700;
    margin: 0;
  }
  &-date {
    margin-top: 5px;
    display: inline-block;
    font-size: 15px;
  }
}

footer {
  padding: 20px 0;
}

h3 {
  margin-top: 30px;
  margin-bottom: 10px;
}

.container {
  max-width: 670px;
  margin: 0 auto;
  padding: 0 15px;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #135de7;
}

.single-post {
  b {
    font-weight: 600;
    background: #fafafa;
    padding: 3px 6px;
    border-radius: 4px;
    overflow-wrap: break-word;
    white-space: normal;
  }
  h1 {
    margin-bottom: 5px;
  }
  img {
    display: block;
    height: 300px;
    width: 450px;
    border-radius: 5px;
    margin: 10px 0;
    @media (max-width: 500px) {
      width: 100%;
    }
  }
}

* {
  box-sizing: border-box;
}
